# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
.frontend-build/

# IDE
.vscode/
.idea/

# Environment
.env
.env.local
.env.*.local

# Git
.git/
.gitignore

# Docs
*.md
README.md